body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

.header {
    background-color: #800080; /* Morado */
    color: white;
    text-align: center;
    padding: 10px 0;
}

.tabs {
    display: flex;
    cursor: pointer;
    padding: 10px;
    background-color: #f1f1f1;
    border-bottom: 1px solid #ccc;
}

.tab {
    flex: 1;
    text-align: center;
    padding: 10px;
    border: 1px solid #ccc;
    border-bottom: none;
    background-color: #ff99cc; /* Rosa claro */
    transition: background-color 0.2s;
}

.tab.active {
    background-color: white;
    font-weight: bold;
    border-bottom: 2px solid #800080; /* Morado */
}

.tab-content {
    display: none;
    padding: 20px;
    border: 1px solid #ccc;
}

.tab-content.active {
    display: block;
}

.container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px;
}

.product, .payment-method {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 300px;
    margin: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}

.product:hover, .payment-method:hover {
    transform: scale(1.05);
}

.product img, .payment-method .icon img {
    max-width: 100%;
    border-bottom: 1px solid #ddd;
}

.product-details, .payment-method p {
    padding: 15px;
}

.product-details h3, .payment-method h3
